
.dashboard-link {
    margin:4px 0 0;
}

.avatar-block {
    margin:0 5px 0 0;
    border:1px solid gray;
}

.cabinet-title {
    font-size: 1.5rem;
    font-weight: lighter;
    color: black;
}

.auth-nav-text {
    color: #FFFFFF;
    text-transform: uppercase;
}

.auth-nav-text:active {
    transform: scale(.8);
    transition: 0.4s ease-in-out;
}

.auth-nav-span {
    font-size:14px;
    font-weight: 500
}

.auth-nav-span:active {
    color: #FFFFFF;
    transition: 0.4s ease-in;
}


