.dashboard-link {
    margin: 4px 0 0;
}

.avatar-block {
    height: 100px;
    width: 100px;
    margin: 0 15px 0 0;
    border: 1px solid gray;
}

.cabinet-title {
    font-size: 1.5rem;
    font-weight: lighter;
    color: black;
}

.auth-nav-text {
    color: #FFFFFF;
    text-transform: uppercase;
}

.auth-nav-text:active {
    transform: scale(.8);
    transition: 0.4s ease-in-out;
}

.auth-nav-span {
    font-size: 14px;
    font-weight: 500
}

.auth-nav-span:active {
    color: #FFFFFF;
    transition: 0.4s ease-in;
}

.cabinet-index-btn {
    margin: 0 10px 0 0;
}

.show-catalog-item-link {
    margin: 10px 0;
}

.show-catalog-item-link:active {
    transform: translate(30px);
    transition: 0.4s ease-in;
}

.index-del-btn {
    background-color: #df1919 !important;
}

.index-del-btn:hover {
    background-color: #931717 !important;
}

.index-btn-span:hover {
    color: #e79f15;
}