.dashboard-link {
    margin: 4px 0 0;
}

.dashboard-link img {
    padding: 10px 10px 10px 0;
    margin-bottom: 24px;
    object-fit: contain;
}

.avatar-block {
    height: 100px;
    width: 100px;
    margin: 0 15px 0 0;
    border: 1px solid gray;
}

.cabinet-title {
    font-size: 1.5rem;
    font-weight: lighter;
    color: black;
}

.auth-nav-text {
    align-items: center;
    display: flex;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 3px;
}

.auth-nav-text:active {
    transform: scale(.8);
    transition: 0.4s ease-in-out;
}

.auth-nav-span {
    height: fit-content;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #4b69bd;
}

.auth-nav-span:hover {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* .auth-nav-span:active {
    color: #FFFFFF;
    transition: 0.4s ease-in;
} */

.avatar-block {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 5px 0 0
}

.cabinet-index-btn {
    margin: 0 10px 0 0;
}

.show-catalog-item-link {
    margin: 10px 0;
}

.show-catalog-item-link:active {
    transform: translate(30px);
    transition: 0.4s ease-in;
}

.index-del-btn {
    background-color: #df1919 !important;
}

.index-del-btn:hover {
    background-color: #931717 !important;
}

.index-btn-span:hover {
    color: #e79f15;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
}

/* .tablinks {
    margin: 0 5px 0 0;
} */

/*.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}*/

.nav-item-user {
    margin-bottom: 0;
    list-style-type: none;
}

.nav-item-user:hover .popUpCabinetEnter {
    visibility: visible;
    opacity: 1;
}

.popUpCabinetEnter {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    position: absolute;
    /*position: fixed;*/
    z-index: 5;
    left: -40px;
    top: 30px;
    margin-top: 10px;
    max-width: fit-content;
    max-height: 350px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    /*border: 1px solid #000000;*/
    /* background-color: #ccc; */
    /* opacity: .81; */
    background: #ccc;
    box-shadow: 0 -150px 70px -120px #888,
        0 -220px 70px -120px #aaa,
        0 -280px 70px -120px #ddd;
    border-radius: 30px;
    border: 10px solid white;
    animation: background 4s infinite alternate;
}

@keyframes background {
    50% {
        background: #eee;
        box-shadow: 0 -140px 70px -120px #ddd,
            0 -210px 70px -120px #aaa,
            0 -280px 70px -120px #888;
    }
}

.modal-text {
    box-sizing: border-box;
    padding: 5px 20px;
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #6c757d;
    margin: 0 0 5px 0;
}

.modal-link-text {
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    display: block;
    color: #4b69bd;
}

.modal-link-text:hover {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.modal-link-text:active {
    transform: scale(.8);
    color: #957676;
    transition: 0.4s ease-in-out;
}

.hr-line {
    background-color: darkkhaki;
    margin: 5px 0;
    border-radius: 40%;
    height: 2px;
}

.notDealsText {
    text-align: center;
    width: 100%;
    max-width: 36rem;
    font-weight: 700;
    font-style: italic;
}

.actionButton {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.actionButton:hover {
    background-color: #ddd;
}

.btn:active {
    border: none !important;
}


.formWrap {
    margin: 0 5px;
    width: 100%;
    height: 100%;
}

/*для календаря*/
.container .inline {
    display: flex !important;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
}


#dropdown:hover {
    cursor: pointer;
    color: #000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 60px;
    transition: .5s ease-in-out;
}

.dropdown-content a {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: dimgray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #2c4763;
    transform: translateX(2px);
    transition: 0.2s ease;
}


.downArrow {
    margin: 2px 0 0 6px;
}

.accordion {
    font-weight: 600;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #4b69bd;
    color: white;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.accordion:after {
    content: '\2795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.btn-content {
    display: flex;
    align-items: center;
    position: relative;
}

.btn-with-counter {
    display: flex;
    justify-content: space-between;
}

.counter {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #bd4bbd;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: normal;
    margin: 0 0 0 5px;
    right: -20px;
}

.active-acc:after {
    content: "\2796";
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #4b69bd;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #e88941;

}

/*бронирование**/
.rent-section,
.deal-section {
    display: grid;
    grid-gap: 10px;

}

.rent-section {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 36px;
    padding: 24px;
}

.deal-section {
    grid-template-columns: 0.65fr 2fr 1fr;
}

.deal-section-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.deal-section-btn {
    display: flex;
    justify-content: flex-start;
}

.rent-section-left h1 {
    color: #4b69bd;
}

.rent-dates {
    display: grid;
    grid-template-columns: 150px 1fr;
}

/*объявления*/
.properties_flex {
    display: flex;
    flex-direction: column;
}

.review-header,
.review-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.review-body .dates {
    font-size: 13px;

    color: rgba(0, 0, 0, 0.5);
}

.review-body p {
    margin: 0.25rem 0;
}

.review-body hr {
    border-top: 1px solid rgba(0, 0, 0, 0.75);
}

.review-body i {
    font-size: 15px;
}

.review-body .golden {
    color: gold;
}

.index-rev-btn {
    background-color: #4b69bd !important;
}

/*.dropdown-content a:hover {background-color: #ddd;}*/

/*.dropdown:hover .dropdown-content {display: block;}*/

/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/





/*.dealsWrap {*/
/*    padding: 5px;*/
/*    box-sizing: border-box;*/
/*    border-radius: 10px;*/
/*    background-color: #f6f6f6;*/

/*}*/

/*.dealsList {*/
/*    border:1px solid #e4e3fd;*/
/*    border-radius: 10px;*/
/*    padding: 5px;*/
/*    box-sizing: border-box;*/
/*    max-height: 480px;*/
/*    overflow-y: auto;*/
/*}*/

/*.dealModalWindow {*/
/*    !*display: none;*!*/
/*    position: absolute;*/
/*    !*position: fixed;*!*/
/*    z-index: 5;*/
/*    right: 250px;*/
/*    top: 0;*/
/*    max-width: fit-content;*/
/*    max-height: 450px;*/
/*    border-radius: 10px;*/
/*    padding: 10px;*/
/*    box-sizing: border-box;*/
/*    !*border: 1px solid #000000;*!*/
/*    background-color: #f6f6f6;*/
/*    opacity: .81;*/
/*}*/

/*.dealModalCloseCross {*/
/*    width: 10px;*/
/*}*/
