/*стили для страницы объектов и каталога*/
.object-title {
    padding-top: 12px;
    background-image: url('/assets/images/real-estate.jpg');
    background-position: 100% 0;
    height: 340px;
}

.object-title-catalog {
    background-image: url('/assets/images/estate-man.jpg');
}

.header-object {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 330px;
    position: relative;
}

.header-object .breadcrumb {
    font-size: 12px;
    background-color: unset;
    padding: 0;
}

.object-content {
    display: grid;
    grid-template-areas:
        "description-section rent-section"
        "object-content-details rent-section";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2%;
    margin-top: 24px;
}

.property-content {
    margin-top: 24px;
}

.description-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    align-content: stretch;
    grid-gap: 24px;
}

.description-content-left img {
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 10px;
    margin-right: 24px;
}

.description-content-left img,
.recommend-card img {
    width: 100%;
    object-fit: contain;
}

.description-content-right .rent-location {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.description-content-right div .rent-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.description-content-right div .price {
    color: #4b69bd;
    margin-bottom: 0;
}

.description-content-right div .rent-price p {
    margin: 0;
    color: #4b69bd;
    font-size: 12px;
}

.properties_grid .properties {
    margin: 0;
}

.properties .desc .pt-5 {
    padding-top: 1rem !important;
}

.properties .desc .price {
    font-size: 20px;
    font-weight: 400;
}

.properties .desc .title a {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.details-content {
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    margin: 24px 0 0 0;
    color: black;
}

.details-section-1 p,
.details-section-1 address {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details-section-1 .info {
    color: #999999;
}

.rent-section {
    padding: 24px 0;
    background: #4b69bd;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    position: sticky;
    top: 78px;
    z-index: 3;
}

.rent-section h4 {
    color: #FFFFFF;
}

.rent-section p {
    font-size: 15px;
    margin-bottom: unset;
}

.rent-section .condition {
    font-size: 12px;
}

.rent-section .form-check-rent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rent-section input {
    margin-bottom: 5%;
}

.rent-section .form-check-label-rent {
    margin: 0 20px 10px 10px;
    line-height: 13px;
}

.rent-section .hidden {
    display: none;
}

.rent-section .rent-radio {
    margin: 0;
}

.rent-section input[type='text'] {
    height: unset !important;
    ;
    font-size: 14px;
}

.rent-section input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
}

.rent-section input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #e88941;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
}

.rent-section input[type='number'] {
    border: 1px solid #EAEAEA;
    width: 60px;
    padding-left: 10px;
    box-sizing: border-box;
    font-weight: 300;
}

.rent-section .rent-summary {
    display: grid;
    justify-items: stretch;
}

.rent-section .rent-summary hr {
    border-top: 1px solid #fff;
    opacity: 1;
}

.rent-section .rent-summary p {
    font-size: 13px;
}

.deal-form-popup {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.deal-form-popup .deal-form-popup-content {
    position: absolute;
    bottom: 20px;
}

.photo-section .carousel {
    padding: 5% 0;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.review-header,
.review-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.review-body .dates {
    font-size: 13px;

    color: rgba(0, 0, 0, 0.5);
}

.review-body p {
    margin: 0.25rem 0;
}

.review-body hr {
    border-top: 1px solid rgba(0, 0, 0, 0.75);
}

.review-body i {
    font-size: 15px;
}

.review-body .golden {
    color: gold;
}

.d-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.desc-price h5 {
    margin-bottom: 0;
}

.desc-number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc-number img {
    height: 30px;
}

.desc-number p {
    color: black;
}

.properties .desc .location {
    color: rgb(0 0 0 / 45%);
}

.favourites_img {
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 2 !important;
}

.properties {
    position: relative;
}

.img_opacity {
    opacity: 0;
}

.properties:hover .favourites_img {
    opacity: 1;
}

.estimation0 {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 50;
}

.estimation1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.estimation1 .feedback {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
}

.estimation1 .golden {
    color: gold;
}

.estimation1 .feedback p{
    font-size: 14px;
    margin: 0;
    color: black;
}
.recommend-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    margin: 24px 0;
}

.recommend-card {
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 10px;
}

.recommend-catalog .desc-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}

.container.inline {
    display: flex !important;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
}
